<div class="new_gift_form">
<h1>New gift</h1>

<% form_for :gift, @gift, :url => { :action => "add_new_gift" } do |f| %>
  <%= f.error_messages %>

  <p>
    Gift for User: <%=h @user.username %><br />
    <%= f.hidden_field :user_id, :value => @user.id %>
  </p>
  <p>
    <%= f.label :giftlist_id %><br />
    <% giftlists = Giftlist.find(:all, :conditions => ["user_id = ?", @user.id]) %>
		<%= f.collection_select :giftlist_id, giftlists, :id, :giftlist_name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.hidden_field :num_purchased, :value => 0 %>
    <%= f.hidden_field :user_name, :value => @user.username %>
  </p>
  <p>
    <%= f.label :num_requested %><br />
    <%= f.text_field :num_requested %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
