<p>
  <b>User:</b>
  <%=h @measurement.user_id %>
</p>

<p>
  <b>Tshirt size:</b>
  <%=h @measurement.tshirt_size %>
</p>

<p>
  <b>Waist:</b>
  <%=h @measurement.waist %>
</p>

<p>
  <b>Inseam:</b>
  <%=h @measurement.inseam %>
</p>

<p>
  <b>Shoe size:</b>
  <%=h @measurement.shoe_size %>
</p>

<p>
  <b>Hat size:</b>
  <%=h @measurement.hat_size %>
</p>

<p>
  <b>Dress shirt size:</b>
  <%=h @measurement.dress_shirt_size %>
</p>

<p>
  <b>Bust size:</b>
  <%=h @measurement.bust_size %>
</p>

<p>
  <b>Dress size:</b>
  <%=h @measurement.dress_size %>
</p>

<p>
  <b>Hip size:</b>
  <%=h @measurement.hip_size %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>